.gradle
.idea
build


src/main/resources/projects/*
!src/main/resources/projects/rental/

src/main/kotlin/com/thoughtworks/projects/*
!src/main/kotlin/com/thoughtworks/projects/rental/

dist/*
!dist/rental/

